img {
  padding: 10px;
}

.h1_pad {
  padding-top: 10px;
  padding-left: 10px;
}

.h1_small_pad {
  padding-left: 10px;
  padding-bottom: 10px;
}

#align-button {
  text-align: center;
  padding-top: 94px;
}

img {
  height: 150px;
  width: 150px;
  cursor: pointer;
}
